.dataExplore-header {
  margin-top: 40px;
}

.dataExplore-header .dataExplore-header-left {
  font-size: 14px;
  width: 200px;
}

.dataExplore-header .dataExplore-header-right {
  float: right;
  width: 200px;
  border: solid 1px #666666;
  border-radius: 10px;
}

.dataExplore-header .dataExplore-header-right img {
  display: inline-block;
  border: none;
  margin-left: 2px;
  width: 20px;
  height: 20px;
}

.dataExplore-header .dataExplore-header-right input {
  display: inline-block;
  outline: none;
  border-style: none;
  width: 150px;
}

.dataExplore-container {
  margin-top: 40px;
}

.dataExplore-container .dataExplore-container-main {
  float: left;
  margin-right: 10px;
  margin-top: 20px;
  width: 200px;
  height: 240px;
  border: solid 1px #999;
}

.dataExplore-container .dataExplore-container-main .main_header_data {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  background: #f7f7f7;
}

.dataExplore-container .dataExplore-container-main .main_container_data {
  height: 150px;
  padding-left: 20px;
  font-size: 12px;
  color: #333;
}

.dataExplore-container .dataExplore-container-main .main_footer_data {
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  font-size: 14px;
  color: #0b93d5;
  border-top: solid 1px #999;
}
