body {
  padding: 0;
  margin: 0;
}

body .dataApplication .dataLeft {
  width: 15%;
  background: #f4f4f4;
  vertical-align: top;
  min-height: 600px;
}

body .dataApplication .dataLeft .dataStepUl {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  list-style: none;
}

body .dataApplication .dataLeft .dataStepUl .dataStepLi {
  margin: 0 auto;
  padding-left: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  color: #333;
}

body .dataApplication .dataLeft .dataStepUl .dataStepLi.active {
  color: #4874ff;
  border: #4874ff;
}

body .dataApplication .dataRight {
  padding: 0;
  margin: 0;
  width: 85%;
}

body .dataApplication .dataRight .previewContent {
  margin: 0;
  padding: 0 30px;
  min-height: 600px;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .title {
  margin-top: 40px;
  font-size: 20px;
  color: #333;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .content {
  margin-top: 30px;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .content .contentTitle {
  padding-left: 20px;
  height: 54px;
  background: #f4f4f4;
  line-height: 54px;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .content .ower {
  padding: 0 20px;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .content .ower .owerOne {
  margin-top: 20px;
  font-size: 24px;
  color: #333;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .content .ower .owerTwo {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .content .ower .owerThr {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .content .ower .owerFour {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .content .ower .owerFive {
  margin-top: 24px;
  font-size: 14px;
  color: #666;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .error {
  border: solid 1px #f2f2f2;
}

body .dataApplication .dataRight .previewContent .previewPart .preview .waring {
  border: solid 1px blue;
}

body .dataApplication .dataRight .fileContent {
  margin: 0;
  padding: 0 30px;
  min-height: 600px;
}

body .dataApplication .dataRight .fileContent .filePart .file .title {
  margin-top: 40px;
  font-size: 20px;
  color: #333;
}

body .dataApplication .dataRight .fileContent .filePart .file .content {
  margin-top: 30px;
  padding: 0;
  list-style: none;
}

body .dataApplication .dataRight .fileContent .filePart .file .content li {
  margin-right: 45px;
  float: left;
  width: 238px;
  height: 298px;
  border: solid 1px #eaeaea;
  border-radius: 2px;
}

body .dataApplication .dataRight .fileContent .filePart .file .content li .header {
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  color: #666;
  background: #f4f4f4;
}

body .dataApplication .dataRight .fileContent .filePart .file .content li .body {
  height: 170px;
  padding-left: 20px;
  padding-top: 20px;
  color: #333;
}

body .dataApplication .dataRight .fileContent .filePart .file .content li .footer {
  border-top: solid 1px #f2f2f2;
  height: 59px;
  padding-left: 20px;
  line-height: 59px;
}

body .dataApplication .dataRight .fileContent .filePart .file .content li .footer:hover {
  color: #4874ff;
}

body .dataApplication .dataRight .fileContent .filePart .file .content li:hover {
  border: solid 1px #4874ff;
}

body .dataApplication .dataRight .fileContent .filePart .file .content .newModel {
  position: relative;
}

body .dataApplication .dataRight .fileContent .filePart .file .content .newModel .model {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 145px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

body .dataApplication .dataRight .resultContent {
  margin: 0;
  padding: 0 30px;
  min-height: 600px;
}

body .dataApplication .dataRight .resultContent .resultPart .result .title {
  margin-top: 40px;
  font-size: 20px;
  color: #333;
}

body .dataApplication .dataRight .resultContent .resultPart .result .content {
  margin-top: 30px;
  border: solid 1px #f2f2f2;
}

body .dataApplication .dataRight .resultContent .resultPart .result .content .contentTitle {
  padding-left: 20px;
  height: 52px;
  background: #f4f4f4;
  line-height: 52px;
}

body .dataApplication .dataRight .resultContent .resultPart .result .content .contentData {
  height: 200px;
}

body .dataApplication .dataRight .resultContent .resultPart .result .content .contentBody {
  height: 52px;
  padding: 0 20px;
  line-height: 52px;
}

body .dataApplication .dataRight .resultContent .resultPart .result .content .contentBody span {
  font-size: 14px;
  color: #333;
  margin-right: 80px;
}

body .dataApplication .dataRight .resultContent .resultPart .result .content .contentBody a {
  text-decoration: none;
  float: right;
}

body .dataApplication .dataRight .taskPlanContent {
  margin: 0;
  padding: 0 30px;
  min-height: 600px;
}

body .dataApplication .dataRight .taskPlanContent .taskPlanPart .task .title {
  margin-top: 40px;
  font-size: 20px;
  color: #333;
}

body .dataApplication .dataRight .taskPlanContent .taskPlanPart .task .content {
  margin-top: 30px;
}

body .dataApplication .dataRight .taskPlanContent .taskPlanPart .task .content .contentTitle {
  border: solid 1px #f4f4f4;
}

body .dataApplication .dataRight .taskPlanContent .taskPlanPart .task .content .contentTitle .title {
  background: #f2f2f2;
  height: 52px;
  font-size: 14px;
}

body .dataApplication .dataRight .taskPlanContent .taskPlanPart .task .content .contentTitle .title td {
  padding: 0 30px;
}

body .dataApplication .dataRight .taskPlanContent .taskPlanPart .task .content .contentTitle .content {
  height: 52px;
  font-size: 14px;
}

body .dataApplication .dataRight .taskPlanContent .taskPlanPart .task .content .contentTitle .content td {
  padding: 0 30px;
}

body .dataApplication .dataRight .taskPlanContent .taskPlanPart .task .content .contentTitle .content td .btn {
  float: right;
  width: 60px;
  height: 30px;
  border: solid 1px #4847ff;
  color: #4874ff;
  margin-left: 15px;
}

body .dataApplication .dataRight .choreographyContent {
  margin: 0;
  padding: 0 30px;
  min-height: 600px;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .title {
  margin-top: 40px;
  font-size: 20px;
  color: #333;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .content {
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .content tr {
  margin-bottom: 30px;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .content tr td {
  padding-bottom: 20px;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .content tr .tdOne {
  padding-right: 70px;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .content tr .tdOne span {
  padding-right: 15px;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .content tr .tdOne select {
  width: 300px;
  height: 30px;
  background: #ffffff;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .content tr .tdTwo {
  padding-right: 30px;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .content tr .tdTwo span {
  padding-right: 15px;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .content tr .tdTwo select {
  width: 300px;
  height: 30px;
  background: #ffffff;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .saveBtn {
  margin-top: 30px;
}

body .dataApplication .dataRight .choreographyContent .choreographyPart .choreography .saveBtn span {
  font-size: 12px;
  color: #ffffff;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 3px;
  background: #4874ff;
}
