.dataExplore-header{
  margin-top: 40px;margin-left:16px;margin-right:12px;
  .dataExplore-header-left{
    font-size: 20px;
    color: #333;
    width:200px;
  }
  .dataExplore-header-right{
    float: right;
    font-size: 14px;
    height: 28px;
    width: 220px;
    border:solid 1px #666666;
    border-radius: 10px;
    img{
      display: inline-block;
      border: none;
      margin-left: 2px;
      width:15px;
      height:15px;
    }
    input{
      display: inline-block;
      font-size: 12px;
      outline:none;
      border-style: none;
      width: 150px;
    }
  }
}
.dataExplore-container{
  margin-top: 40px;
  .tab-default{
    .nav-tabs{
      margin-left:15px;margin-right:15px;margin-bottom:20px;
      li{
        margin-bottom:0;
        color: #555;
        .nav-link{
          color: #555555;
          border:none;
          list-style: none;
          text-decoration: none;
          .text{
            border: none;
          }
          .text:active{
            border-bottom: solid 2px #4874ff;

          }
          .icon{
            margin:0 10px;
            display: inline-block;
            font-size: 12px;
            color: #999;
            border-radius: 10px;
            width:20px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            background: #f0f0f0;
          }
          .icon:hover{
            background: #dae3ff;
            color: #4874ff;
          }
        }
        a:hover{
          color: #4874ff;
          background: #fff;
          border-bottom: solid 2px #4874ff;
        }
        a:active{
          border:none;
          color: #4874ff;
          border-bottom: solid 2px #4874ff;
        }
        a:focus{
          outline:none;
          color: #4874ff;
          border-bottom: solid 2px #4874ff;
        }
      }

    }
  }
  .dataExplore-container-main{
    float: left;
    //margin-right: 30px;
    margin-bottom: 24px;
    width:25%;padding:0 15px;
    height: 300px;

    border-radius: 2px;
    .date_set_main{
      border:solid 1px #eaeaea;

    .main_header_data{
      font-size: 16px;
      color: #666;
      height: 70px;
      line-height: 70px;
      padding-left: 20px;
      background: #f7f7f7;
    }
    .main_container_data{
      height: 169px;
      padding-left: 20px;
      padding-top: 10px;
      font-size: 14px;
      color: #999;
    }
    .main_footer_data{
      height: 60px;
      line-height: 60px;
      padding-left: 20px;
      font-size: 12px;
      color: #4874ff;
      border-top: solid 1px #eaeaea;
    }
    .main_footer_data:hover{
      color: #666;
    }
    }
    .date_set_main:hover{border:1px solid #4874ff;}
  }
  .dataExplore-container-main:hover{
    border-color: #4874ff;
  }
}

@media (min-width: 1800px) {
  .dataExplore-container .dataExplore-container-main{width:20%;}
}


