  <div class="row data-tab">
    <uib-tabset vertical="true" type="tabs">
      <uib-tab heading="{{ source | translate}}" >
        <div ng-controller="DataSourceCtrl" >
          <div source></div>
        </div>
      </uib-tab>
      <uib-tab heading="{{ report | translate}}">
        <div ng-controller="DataReportCtrl">
          <div report></div>
        </div>
      </uib-tab>
      <uib-tab heading="{{ processing | translate}}">
        <div class="contect-tabs">
          Vertical content 3 Vertical content 3 Vertical content 3 Vertical content 3
        </div>
      </uib-tab>
    </uib-tabset>
  </div>

