<div class="modal-header">
  <span style= "float:left;">{{'web_common_data_app_08'|translate}}</span>
  <span class="modal-header-close closeModelBtn" ng-click="cancel()"></span>
</div>
<div class="modal-body">
  <div style="overflow-x:scroll;">
    <div ng-repeat="view in viewList" ng-model="viewList">
      <div ng-click="changeView(view)">{{view.name}}</div>
    </div>
    <div class="pic" id="showArea" >
      <iframe id="ifm" style="display: none;"></iframe>
      <img id="img" src="" style="display: none;"/>
      <span id="txt" style="display: none;"></span>

    </div>
  </div>
</div>

