<div class="modal-header">
  <span class="modal-header-title">创建运行程序 <span>1</span></span>
  <span class="modal-header-close" ng-click="cancel()">X</span>
</div>
<div class="modal-body">
  <div class="createTaskPlan" style="margin-top: 10px;">文件命令 <input type="text"></div>
  <div class="createTaskPlan">文件名称 <input type="text"></div>
  <div class="createTaskPlan">计划设置 </div>
</div>
<div class="modal-footer">
  <span class="modal-footer-btn" ng-click="save()">{{'web_common_015'| translate}}</span>
</div>


