<!--<div class="modal-header">-->
  <!--<span class="modal-header-title">{{'web_common_data_application_layer_01'| translate}}</span>-->
  <!--<span class="modal-header-close" ng-click="cancel()"><img src="../images/delete.png"></span>-->
<!--</div>-->
<!--<div class="modal-body">-->
  <!--<div class="contentPart">-->
    <!--<div class="newNamePart">-->
      <!--<div class="newName">-->
        <!--<span>名称</span><input type="text" placeholder="demo01"/>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="chooseModelPart">-->
      <!--<ul class="modelList">-->
        <!--<li>-->
          <!--<p>-->
            <!--<img src="../../images/yeoman.png" style="display: inline-block;width: 60px;height: 60px"/>-->
          <!--</p>-->
          <!--<p>结构化数据</p>-->
          <!--<p class="description">关于此框架的描述文本</p>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="modal-footer">-->
  <!--<span class="modal-footer-btn" ng-click="create()">{{'web_common_data_application_layer_03'| translate}}</span>-->
<!--</div>-->
<div class="model">
  <div class="title">
    <p class="lf">创建分析框架</p>
    <p class="rt" ng-click="cancel()"><img src="../images/delete.png"></p>
  </div>
  <div class="content">
    <div class="search">
      名称
      <input type="text" placeholder="demo01"/>
    </div>
    <div class="chooseModel" id="model">
      <div class="model1 lf" >
        <p>
          <img src="../../images/pic1.png"/>
        </p>
        <p>{{'modelType_01'| translate}}</p>
        <p class="description">关于此框架的描述文本</p>
      </div>
      <div class="model1 lf" >
        <p>
          <img src="../../images/pic2.png"/>
        </p>
        <p>{{'modelType_02' | translate}}</p>
        <p class="description">关于此框架的描述文本</p>
      </div>
      <div class="model1 lf" >
        <p>
          <img src="../../images/pic3.png"/>
        </p>
        <p>{{'modelType_03' | translate}}</p>
        <p class="description">关于此框架的描述文本</p>
      </div>
      <div class="model1 lf" >
        <p>
          <img src="../../images/pic4.png"/>
        </p>
        <p>{{'modelType_04' | translate}}</p>
        <p class="description">关于此框架的描述文本</p>
      </div>
      <div class="model1 lf" >
        <p>
          <img src="../../images/pic5.png"/>
        </p>
        <p>{{'modelType_05' | translate}}</p>
        <p class="description">关于此框架的描述文本</p>
      </div>
      <div class="model1 lf" >
        <p>
          <img src="../../images/pic6.png"/>
        </p>
        <p>{{'modelType_06' | translate}}</p>
        <p class="description">关于此框架的描述文本</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="rt" ng-click="create()">创建</button>
  </div>
</div>

<style>
  p,input,dl,dd,dt,img,button{
    margin: 0;
    padding: 0;
    list-style: none;
    /*border: none;*/
  }
  .lf{
    float: left;
  }
  .rt{
    float: right;
  }
  .model{
    width: 720px;
    height: 595px;
    background-color: #dddddd;
    margin: 0 auto;
  }

  .title{
    width:680px;
    height: 52px;
    padding: 0 20px;
    line-height: 52px;
  }
  .content{
    background-color: #fff;
  }
  .search{
    text-align: center;
    font-size: 14px;
  }
  .search input{
    margin: 30px 0 30px 15px;
    color: #333;
    width: 340px;
    height: 28px;

  }
  .search input::-webkit-input-placeholder {
    color: #999999;
  }
  .chooseModel{
    width: 720px;
    height:380px;
    background-color: #fff;
  }
  .model1{
    border: 1px solid #dddddd;
    width: 200px;
    height: 160px;
    margin: 0 0 30px 30px;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  .model1 p{
    margin: 0;
  }
  .model1 p img{
    width: 60px;
    height: 60px;
    margin: 20px 0;

  }

  /*描述*/
  .description{
    padding: 15px 0;
    font-size: 12px;
    color: #999;
  }

  /*鼠标点击效果*/
  .mouseChoose{
    background: url('images/chooseOk.png') no-repeat 30px 0;


    /*  width: 200px;
      height: 160px;

      text-align: center;
      font-size: 14px;
      color: #333;*/
  }

  .footer{
    background-color: #ECF1FF;
    padding: 0 20px;

  }
  .footer button{
    background-color: #2A72FE;
    color: #ffffff;
    width: 80px;
    height: 25px;
    border: none;
    vertical-align: middle;
    margin-top: 20px;
  }
</style>
