<div class="modal-header">
  <span class="modal-header-title">{{'web_common_data_application_layer_01'| translate}}</span>
  <span class="modal-header-close" ng-click="cancel()"><img src="../images/delete.png"></span>
</div>
<div class="modal-body">
  <div class="body-title">名称 <input type="text" placeholder="demo01 001" /></div>
  <ul class="body-content">
      <li>
        <div><img src="../../images/yeoman.png" alt=""></div>
        <div>数据应用</div>
        <div>飒飒飒飒是所所所</div>
      </li>
  </ul>
  <!--<div class="modal-body-title">{{'web_common_data_application_layer_02'| translate}}</div>-->
  <!--<input class="modal-body-name" ng-model='model.name'>-->
</div>
<div class="modal-footer">
  <span class="modal-footer-btn" ng-click="create()">{{'web_common_data_application_layer_03'| translate}}</span>
</div>
