<div class="modal-header">
  <span class="modal-header-title">{{'web_common_data_application_layer_01'| translate}}</span>
  <span class="modal-header-close" ng-click="cancel()">X</span>
</div>
<div class="modal-body">
  <div class="modal-body-title">{{'web_common_data_application_layer_02'| translate}}</div>
  <input class="modal-body-name" ng-model='model.name'>
</div>
<div class="modal-footer">
  <span class="modal-footer-btn" ng-click="create()">{{'web_common_data_application_layer_03'| translate}}</span>
</div>
