<div class="loginPage" id="login">
  <!--<div class="title">-->
  <!--<img class="pic" src="../images/blueLog.png" alt="">-->
  <!--<span class="titleText">已有账号?<span class="titleLogin">请登录</span></span>-->
  <!--</div>-->
  <div class="content">
    <div class="contentModel">
      <p class="conTitle">登录Arua账号</p>
      <div class="conCont">
        <div class="conOne">
          <label>{{username | translate}}</label>
          <!--<span class="textRgt">邮箱不能为空</span><br/>-->
          <input class="ipt" type="text" placeholder="{{username | translate}}" ng-model="user.name">
        </div>
        <div class="conTwo">
          <label>{{password | translate}}</label>
          <!--<span class="textRgt">密码不能为空</span><br/>-->
          <input class="ipt" type="text" placeholder="{{password | translate}}" ng-model="user.pass">
        </div>
        <p class="textConfirm">
          <input type="checkbox">记住我
        </p>
        <button class="btn" ng-click="login()">{{signin| translate}}</button>
        <p class="footer">
          <span class="titleText">没有账号?<span class="titleLogin">立即注册</span></span>
        </p>
      </div>
    </div>
  </div>
</div>
