<div class="title">demo1 <span style="color: #00A000" ng-click="openTaskPlan()"> + </span></div>
<div class="content">
  <table class="contentTitle table">
    <tr class="title">
      <td style="vertical-align: middle;">名称</td>
      <td style="vertical-align: middle;">目标</td>
      <td style="vertical-align: middle;">时间</td>
      <td style="vertical-align: middle;"></td>
    </tr>
    <tr class="content">
      <td style="vertical-align: middle;">名称</td>
      <td style="vertical-align: middle;">目标</td>
      <td style="vertical-align: middle;">时间</td>
      <td style="vertical-align: middle;">
        <span class="btn">删除</span>
        <span class="btn">暂停</span>
        <span class="btn">编辑</span>
      </td>
    </tr>
  </table>
</div>
