body {
  padding: 0;
  margin: 0;
}

body .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body .header {
  height: 50px;
}

body .header .navbar-au {
  background: #4874ff;
  font-size: 14px;
  margin-bottom: 0;
}

body .header .navbar-au .logo {
  color: #ffffff;
}

body .header .navbar-au .navbar-head {
  color: #fff;
}

body .header .navbar-au .navbar-head .nav-top > a {
  display: inline-block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
}

body .header .navbar-au .navbar-head .nav-top > a:hover {
  background: #3d63d9;
}

body .login {
  margin-top: 30px;
}

body .login h1 {
  margin-left: 40%;
}

body .login p {
  margin-left: 43%;
}

.openTotal {
  width: 600px;
}

.openTotal .title {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  background: #f2f2f2;
}

.openTotal .content .content-title {
  width: 600px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 16px;
  color: #3d63d9;
}

.openTotal .content .content-name {
  display: inline-block;
  width: 217px;
  height: 30px;
  margin-left: 32%;
  text-align: center;
  border: solid 1px #eaeaea;
  font-size: 14px;
  color: #333;
}

.openTotal .content .content-name:hover {
  border: solid 1px #4847ff;
}

.openTotal .footer {
  margin-top: 80px;
  height: 70px;
  background: #f2f2f2;
  font-size: 14px;
  color: #ffffff;
}

.openTotal .footer .btn {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  width: 90px;
  height: 30px;
  text-align: center;
  background: #4847ff;
}

.openTotal .footer .btn:hover {
  background: #3d63d9;
  color: #ffffff;
}

.data-tab button {
  margin-top: 30px;
  margin-left: 20px;
}

.data-tab .nav-tabs {
  float: left;
  background: #ecf1ff;
  min-height: 800px;
  font-size: 14px;
}

.data-tab .contect-tabs {
  width: 80%;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}

.data-tab .contect-tabs .dataSource-title {
  font-size: 20px;
  color: #333;
}

.data-tab .contect-tabs .dataSource-chooseOne {
  margin-top: 30px;
  font-size: 14px;
  color: #333333;
}

.data-tab .contect-tabs .dataSource-chooseOne input {
  margin-right: 10px;
}

.data-tab .contect-tabs .dataSource-chooseTwo {
  margin-top: 30px;
  font-size: 14px;
  color: #333333;
}

.data-tab .contect-tabs .dataSource-chooseTwo input {
  margin-right: 10px;
}

.data-tab .contect-tabs .dataSource-chooseTwo .dataSource-file {
  display: inline-block;
}

.data-tab .contect-tabs .dataSource-chooseTwo .dataSource-upload {
  display: inline-block;
  font-size: 14px;
  padding: 2px 10px;
  background: #f4f4f4;
}

.data-tab .contect-tabs .button {
  width: 100%;
}

.data-tab .contect-tabs .dataSource-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.data-tab .contect-tabs .dataSource-btn .dataSource-preview {
  font-size: 14px;
  padding: 5px 12px;
  background: #f4f4f4;
}

.data-tab .contect-tabs .dataSource-btn .dataSource-preview:hover {
  background: #4847ff;
  color: #ffffff;
}

.data-tab .contect-tabs .dataSource-btn .dataSource-preview:active {
  background: #4847ff;
  color: #ffffff;
}

.data-tab .contect-tabs .content {
  margin-top: 15px;
  width: 800px;
  height: 300px;
  border: 1px solid #f4f4f4;
}

.data-tab .contect-tabs .btn {
  margin-top: 40px;
  overflow: hidden;
}

.data-tab .contect-tabs .btn .btnStep {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  background: #f4f4f4;
}

.data-tab .contect-tabs .btn .btnStep:hover {
  background: #4847ff;
  color: #ffffff;
}

.data-tab .contect-tabs .btn .btnStep:active {
  background: #4847ff;
  color: #ffffff;
}

.data-tab .contect-tabs .dataProcess-title {
  font-size: 20px;
  color: #333;
  margin-top: 0;
  margin-left: 0;
}

.data-tab .contect-tabs .dataProcess-stepOne .dataProcess-one {
  padding: 0 20px;
  height: 52px;
  line-height: 52px;
  background: #f4f4f4;
  font-size: 14px;
  color: #333;
}

.data-tab .contect-tabs .dataProcess-stepOne .dataProcess-one .oneImg {
  display: inline-block;
  width: 14px;
  height: 16px;
  padding-top: 20px;
}

.data-tab .contect-tabs .dataProcess-stepOne .step {
  width: 100%;
  border: solid 1px #f4f4f4;
  margin: 20px 0;
}

.data-tab .contect-tabs table, .data-tab .contect-tabs th, .data-tab .contect-tabs td {
  border-collapse: collapse;
  padding: 5px;
  margin-left: 12px;
}

.data-tab .contect-tabs .btn {
  margin-top: 30px;
}

.data-tab .contect-tabs .btn .btnStep {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  background: #f4f4f4;
  margin-right: 20px;
}

.data-tab .contect-tabs .btn .btnStep-two {
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  background: #f4f4f4;
  margin-right: 20px;
}

.data-tab .contect-tabs .btn .btnStep:hover {
  background: #4847ff;
  color: #ffffff;
}

.data-tab .contect-tabs .btn .btnStep:active {
  background: #4847ff;
  color: #ffffff;
}

.data-tab .contect-tabs .btn .btnStep-two:hover {
  background: #4847ff;
  color: #ffffff;
}

.data-tab .contect-tabs .btn .btnStep-two:active {
  background: #4847ff;
  color: #ffffff;
}

.dataLeft {
  min-height: 600px;
}

.dataLeft ul {
  list-style: none;
}

.dataLeft ul li {
  font-size: 14px;
  color: #333;
}

.dataLeft ul li.active {
  color: #4847ff;
}

.dataRight .dataSource-title {
  font-size: 20px;
  color: #333;
}

.dataRight .dataSource-chooseOne {
  margin-top: 30px;
  font-size: 14px;
  color: #333333;
}

.dataRight .dataSource-chooseOne input {
  margin-right: 10px;
}

.dataRight .dataSource-chooseTwo {
  margin-top: 30px;
  font-size: 14px;
  color: #333333;
}

.dataRight .dataSource-chooseTwo input {
  margin-right: 10px;
}

.dataRight .dataSource-chooseTwo .dataSource-file {
  display: inline-block;
}

.dataRight .dataSource-chooseTwo .dataSource-upload {
  display: inline-block;
  font-size: 14px;
  padding: 2px 10px;
  background: #f4f4f4;
}

.dataRight .button {
  width: 100%;
}

.dataRight .dataSource-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.dataRight .dataSource-btn .dataSource-preview {
  font-size: 14px;
  padding: 5px 12px;
  background: #f4f4f4;
}

.dataRight .dataSource-btn .dataSource-preview:hover {
  background: #4847ff;
  color: #ffffff;
}

.dataRight .dataSource-btn .dataSource-preview:active {
  background: #4847ff;
  color: #ffffff;
}

.dataRight .content {
  margin-top: 15px;
  width: 800px;
  height: 300px;
  border: 1px solid #f4f4f4;
}

.dataRight .btn {
  margin-top: 40px;
  overflow: hidden;
}

.dataRight .btn .btnStep {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  background: #f4f4f4;
}

.dataRight .btn .btnStep:hover {
  background: #4847ff;
  color: #ffffff;
}

.dataRight .btn .btnStep:active {
  background: #4847ff;
  color: #ffffff;
}

.dataRight .dataProcess-title {
  font-size: 20px;
  color: #333;
  margin-top: 0;
  margin-left: 0;
}

.dataRight .dataProcess-stepOne .dataProcess-one {
  padding: 0 20px;
  height: 52px;
  line-height: 52px;
  background: #f4f4f4;
  font-size: 14px;
  color: #333;
}

.dataRight .dataProcess-stepOne .dataProcess-one .oneImg {
  display: inline-block;
  width: 14px;
  height: 16px;
  padding-top: 20px;
}

.dataRight .dataProcess-stepOne .step {
  width: 100%;
  border: solid 1px #f4f4f4;
  margin: 20px 0;
}

.dataRight table, .dataRight th, .dataRight td {
  border-collapse: collapse;
  padding: 5px;
  margin-left: 12px;
}

.dataRight .btn {
  margin-top: 30px;
}

.dataRight .btn .btnStep {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  background: #f4f4f4;
  margin-right: 20px;
}

.dataRight .btn .btnStep-two {
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  background: #f4f4f4;
  margin-right: 20px;
}

.dataRight .btn .btnStep:hover {
  background: #4847ff;
  color: #ffffff;
}

.dataRight .btn .btnStep:active {
  background: #4847ff;
  color: #ffffff;
}

.dataRight .btn .btnStep-two:hover {
  background: #4847ff;
  color: #ffffff;
}

.dataRight .btn .btnStep-two:active {
  background: #4847ff;
  color: #ffffff;
}
