@charset "UTF-8";
html, body {
  -webkit-tap-highlight-color: transparent;
  color: #696969;
  font: 12px "微软雅黑",Helvetica;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

form, table, td, h1, h2, h3, h4, ul, ol, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

input, img {
  vertical-align: middle;
}

html, body {
  min-width: 100%;
  height: 100%;
}

body {
  -webkit-text-size-adjust: none;
}

img {
  border: 0 none;
  height: auto;
  max-width: 100%;
}

ol, ul {
  list-style: none;
}

:focus {
  outline: 0;
}

a {
  color: inherit;
}

textarea {
  resize: none;
  overflow: auto;
}

a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input:focus, textarea:focus {
  outline: 0;
}

.addBgPic {
  display: inline-block;
  height: 14px;
  width: 14px;
  cursor: pointer;
  background: url("../images/add_bg_btn.png") no-repeat;
}

.addSmPic {
  display: inline-block;
  height: 13px;
  width: 13px;
  cursor: pointer;
  background: url("../images/add_sm_btn.png") no-repeat;
}

.closeModelBtn {
  display: inline-block;
  height: 19px;
  width: 18px;
  vertical-align: middle;
  cursor: pointer;
  background: url("../images/btn_close.png") no-repeat;
  margin-top: 6px;
}

body {
  padding: 0;
  margin: 0;
}

body .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body .header {
  height: 50px;
}

body .header .navbar-au {
  background: #4874ff;
  font-size: 14px;
  margin-bottom: 0;
}

body .header .navbar-au .logo {
  color: #ffffff;
}

body .header .navbar-au .navbar-head {
  color: #fff;
}

body .header .navbar-au .navbar-head .nav-top > a {
  display: inline-block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
}

body .header .navbar-au .navbar-head .nav-top > a:hover {
  background: #3d63d9;
}

body .login {
  margin-top: 30px;
}

body .login h1 {
  margin-left: 40%;
}

body .login p {
  margin-left: 43%;
}

body .modal-header {
  background: #f2f2f2;
}

body .modal-header .modal-header-title {
  color: #333;
  font-size: 14px;
}

body .modal-header .modal-header-close {
  float: right;
}

body .modal-body .modal-body-title {
  text-align: center;
  color: #4847ef;
  font-size: 16px;
}

body .modal-body .body-title {
  margin-top: 30px;
}

body .modal-body .body-title input {
  display: inline-block;
  width: 340px;
  height: 30px;
}

body .modal-body .modal-body-name {
  display: inline-block;
  width: 200px;
  text-align: center;
  margin-left: 32%;
  margin-top: 30px;
  border: solid 1px #eaeaea;
  height: 30px;
}

body .modal-body .createTaskPlan {
  margin-top: 30px;
  font-size: 14px;
  height: 30px;
  color: #999;
}

body .modal-body .createTaskPlan input {
  width: 80%;
  color: #333;
  border: solid 1px #eaeaea;
  font-size: 14px;
  padding: 5px 10px;
  height: 30px;
}

body .modal-body .createTaskPlan .diag_tit_set {
  width: 80px;
  font-size: 14px;
  color: #999;
  float: left;
  height: 30px;
  line-height: 30px;
}

body .modal-body .createTaskPlan .header_area_select {
  float: left;
  width: 60px;
  height: 30px;
  line-height: 30px;
  border: solid 1px #eaeaea;
}

body .modal-body .createTaskPlan .header_area_select .per_block {
  padding: 0px 10px;
  text-decoration: none;
  color: #838383;
  display: block;
  width: 60px;
}

body .modal-body .createTaskPlan .header_area_select .per_block .xl_bg {
  position: absolute;
  right: 8px;
  top: 9px;
  width: 6px;
  height: 6px;
  border: solid #a7a7a7;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  transition: all 0.3s;
}

body .modal-body .createTaskPlan .header_area_select .zx_area_drop {
  width: 60px;
  min-width: 60px;
  top: 29px;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  border: 1px solid #eaeaea;
  border-top: 0;
  left: -1px;
  max-height: 100px;
  overflow: scroll;
  overflow-x: hidden;
}

body .modal-body .createTaskPlan .header_area_select .zx_area_drop li {
  width: 58px;
  text-align: center;
  padding-left: 0;
  border: 0;
  color: #333;
  font-size: 14px;
}

body .modal-body .createTaskPlan .header_area_select .zx_area_drop li a {
  height: 28px !important;
  line-height: 28px !important;
  padding: 0;
}

body .modal-body .createTaskPlan .header_area_select .zx_area_drop li a span {
  width: 58px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  text-align: left;
  text-indent: 11px;
}

body .modal-body .createTaskPlan .header_area_select .zx_area_drop li a span.colored {
  color: #4874ff;
  background: #ecf1ff;
}

body .modal-body .createTaskPlan .header_area_select .zx_area_drop li a:hover {
  background: #ecf1ff;
  color: #4874ff;
}

body .modal-body .createTaskPlan .head_main_set .zx_area_drop {
  overflow: auto;
}

body .modal-body .createTaskPlan .head_week, body .modal-body .createTaskPlan .head_month {
  margin-left: 20px;
}

body .modal-body .createTaskPlan .block_cion {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  line-height: 30px;
}

body .modal-body .pause_set {
  margin-left: 82px;
  height: 22px;
  cursor: pointer;
  width: 154px;
}

body .modal-body .pause_set i {
  background: url(../../images/WechatIMG2.png) no-repeat;
  width: 14px;
  height: 14px;
  display: block;
  float: left;
  margin-top: 4px;
  margin-right: 10px;
}

body .modal-body .pause_set p {
  float: left;
  font-size: 14px;
}

body .modal-body .pause_set.active i {
  background: url(../../images/WechatIMG1.png) no-repeat;
}

body .modal-body .email_set {
  margin-left: 80px;
}

body .modal-body .email_set p {
  float: left;
  fon-size: 14px;
  line-height: 30px;
  margin-right: 15px;
}

body .modal-body .email_set input {
  width: 78%;
}

body .modal-footer {
  background: #ecf1ff;
}

body .modal-footer .modal-footer-btn {
  float: right;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  background: #4847ff;
}

body .modal-footer .modal-footer-btn:hover {
  background: #3d63d9;
  color: #ffffff;
}

body .data-tab button {
  margin-top: 30px;
  margin-left: 20px;
}

body .data-tab .nav-tabs {
  float: left;
  background: #ecf1ff;
  min-height: 800px;
  font-size: 14px;
}

body .data-tab .contect-tabs {
  width: 80%;
  float: left;
  margin-left: 30px;
  margin-top: 40px;
}

body .data-tab .contect-tabs .dataSource-title {
  font-size: 20px;
  color: #333;
}

body .data-tab .contect-tabs .dataSource-chooseOne {
  margin-top: 30px;
  font-size: 14px;
  color: #333333;
}

body .data-tab .contect-tabs .dataSource-chooseOne input {
  margin-right: 10px;
}

body .data-tab .contect-tabs .dataSource-chooseTwo {
  margin-top: 30px;
  font-size: 14px;
  color: #333333;
}

body .data-tab .contect-tabs .dataSource-chooseTwo input {
  margin-right: 10px;
}

body .data-tab .contect-tabs .dataSource-chooseTwo .dataSource-file {
  display: inline-block;
}

body .data-tab .contect-tabs .dataSource-chooseTwo .dataSource-upload {
  display: inline-block;
  font-size: 14px;
  padding: 2px 10px;
  background: #f4f4f4;
}

body .data-tab .contect-tabs .button {
  width: 100%;
}

body .data-tab .contect-tabs .dataSource-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

body .data-tab .contect-tabs .dataSource-btn .dataSource-preview {
  font-size: 14px;
  padding: 5px 12px;
  background: #f4f4f4;
}

body .data-tab .contect-tabs .dataSource-btn .dataSource-preview:hover {
  background: #4847ff;
  color: #ffffff;
}

body .data-tab .contect-tabs .dataSource-btn .dataSource-preview:active {
  background: #4847ff;
  color: #ffffff;
}

body .data-tab .contect-tabs .content {
  margin-top: 15px;
  width: 800px;
  height: 300px;
  border: 1px solid #f4f4f4;
}

body .data-tab .contect-tabs .btn {
  margin-top: 40px;
  overflow: hidden;
}

body .data-tab .contect-tabs .btn .btnStep {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  background: #f4f4f4;
}

body .data-tab .contect-tabs .btn .btnStep:hover {
  background: #4847ff;
  color: #ffffff;
}

body .data-tab .contect-tabs .btn .btnStep:active {
  background: #4847ff;
  color: #ffffff;
}

body .data-tab .contect-tabs .dataProcess-title {
  font-size: 20px;
  color: #333;
  margin-top: 0;
  margin-left: 0;
}

body .data-tab .contect-tabs .dataProcess-stepOne .dataProcess-one {
  padding: 0 20px;
  height: 52px;
  line-height: 52px;
  background: #f4f4f4;
  font-size: 14px;
  color: #333;
}

body .data-tab .contect-tabs .dataProcess-stepOne .dataProcess-one .oneImg {
  display: inline-block;
  width: 14px;
  height: 16px;
  padding-top: 20px;
}

body .data-tab .contect-tabs .dataProcess-stepOne .step {
  width: 100%;
  border: solid 1px #f4f4f4;
  margin: 20px 0;
}

body .data-tab .contect-tabs table, body .data-tab .contect-tabs th, body .data-tab .contect-tabs td {
  border-collapse: collapse;
  padding: 5px;
  margin-left: 12px;
}

body .data-tab .contect-tabs .btn {
  margin-top: 30px;
}

body .data-tab .contect-tabs .btn .btnStep {
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  background: #f4f4f4;
  margin-right: 20px;
}

body .data-tab .contect-tabs .btn .btnStep-two {
  display: inline-block;
  padding: 5px 16px;
  font-size: 14px;
  background: #f4f4f4;
  margin-right: 20px;
}

body .data-tab .contect-tabs .btn .btnStep:hover {
  background: #4847ff;
  color: #ffffff;
}

body .data-tab .contect-tabs .btn .btnStep:active {
  background: #4847ff;
  color: #ffffff;
}

body .data-tab .contect-tabs .btn .btnStep-two:hover {
  background: #4847ff;
  color: #ffffff;
}

body .data-tab .contect-tabs .btn .btnStep-two:active {
  background: #4847ff;
  color: #ffffff;
}

body .dataExploreModel {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row;
      flex-flow: row;
}

body .dataExploreModel .exploreModelLeft {
  width: 216px;
  padding: 0;
  background: #ecf1ff;
  overflow-y: auto;
}

body .dataExploreModel .exploreModelLeft ul {
  list-style: none;
  padding: 0px;
  margin-left: 50px;
  margin-top: 80px;
  padding-top: 10px;
  padding-left: 12px;
  padding-bottom: 10px;
  border-left: 3px solid #ccc;
}

body .dataExploreModel .exploreModelLeft ul li {
  padding-top: 40px;
  font-size: 14px;
  color: #333;
  position: relative;
}

body .dataExploreModel .exploreModelLeft ul li .circle {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #666;
  position: absolute;
  left: -20px;
}

body .dataExploreModel .exploreModelLeft ul .active {
  color: #4847ff;
}

body .dataExploreModel .exploreModelLeft ul .active div.circle {
  background: #4874ff !important;
}

body .dataExploreModel .exploreModelRight {
  width: 85%;
  padding: 0;
  overflow-y: auto;
}

body .dataExploreModel .exploreModelRight .button {
  margin: 40px 0 60px;
  color: #333;
  font-size: 14px;
}

body .dataExploreModel .exploreModelRight .button .bBtn {
  margin-right: 20px;
  display: inline-block;
  padding: 3px 12px;
  background: #f4f4f4;
  border-radius: 2px;
}

body .dataExploreModel .exploreModelRight .button .bBtn:hover {
  background: #4874ff;
  color: #fff;
}

body .dataExploreModel .exploreModelRight .dataSource {
  margin: 0;
  padding-left: 30px;
  min-height: 600px;
}

body .dataExploreModel .exploreModelRight .dataSource .dataSourcePart .sourcePart .title {
  margin: 0;
  padding-top: 40px;
  line-height: 20px;
  font-size: 20px;
  color: #333;
}

body .dataExploreModel .exploreModelRight .dataSource .dataSourcePart .sourcePart .dataSourceChoose {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}

body .dataExploreModel .exploreModelRight .dataSource .dataSourcePart .sourcePart .dataFileImport {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}

body .dataExploreModel .exploreModelRight .dataSource .dataSourcePart .sourcePart .dataFileImport .chooseFile {
  display: inline-block;
  margin-left: 3px;
}

body .dataExploreModel .exploreModelRight .dataSource .dataSourcePart .sourcePart .dataFileImport .fileUpload {
  display: inline-block;
  padding: 4px 12px;
  margin-left: 15px;
  background: #f4f4f4;
  border: solid 1px #999;
  border-radius: 2px;
}

body .dataExploreModel .exploreModelRight .dataSource .dataSourcePart .sourcePart .dataFileImport .fileUpload:hover {
  color: #4748ff;
  border: solid 1px #4748ff;
}

body .dataExploreModel .exploreModelRight .dataSource .dataSourcePart .sourcePart .dataSourcePreview {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}

body .dataExploreModel .exploreModelRight .dataSource .dataSourcePart .sourcePart .dataSourcePreview .dataSource-preview {
  padding: 4px 12px;
  background: #f4f4f4;
}

body .dataExploreModel .exploreModelRight .dataSource .dataSourcePart .sourcePart .dataSourcePreview .dataSource-preview:hover {
  color: #4748ff;
  border: solid 1px #4748ff;
  border-radius: 2px;
}

body .dataExploreModel .exploreModelRight .dataReport .reportPart .title {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 30px;
  line-height: 20px;
  font-size: 20px;
  color: #333;
}

body .dataExploreModel .exploreModelRight .dataProcess {
  margin: 0;
  padding-left: 30px;
  min-height: 600px;
}

body .dataExploreModel .exploreModelRight .dataProcess .processPart .title {
  margin: 0;
  padding-top: 40px;
  line-height: 20px;
  font-size: 20px;
  color: #333;
}

body .dataExploreModel .exploreModelRight .dataProcess .processPart .commonStyle {
  margin-top: 30px;
}

body .dataExploreModel .exploreModelRight .dataProcess .processPart .commonStyle p {
  margin: 0;
  padding-left: 20px;
  color: #333;
  font-size: 16px;
  height: 52px;
  line-height: 52px;
  background: #f4f4f4;
}

body .dataExploreModel .exploreModelRight .dataProcess .processPart .commonStyle p .oneImg {
  padding-right: 20px;
  display: inline-block;
  line-height: 52px;
}

body .dataExploreModel .exploreModelRight .dataProcess .processPart .commonStyle table {
  margin-top: 10px;
}

body .dataExploreModel .exploreModelRight .dataProcess .processPart .commonStyle table tr td {
  padding-left: 20px;
  padding-right: 30px;
}

body .dataExploreModel .exploreModelRight .dataProcess .processPart .commonStyle .btn {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  font-size: 14px;
  color: #333;
}

body .dataExploreModel .exploreModelRight .dataProcess .processPart .commonStyle .btn .btnStep {
  margin-right: 20px;
  padding: 5px 25px;
  background: #f4f4f4;
}

body .dataExploreModel .exploreModelRight .dataProcess .processPart .commonStyle .btn .btnStep:hover {
  background: #4874ff;
}

body .dataExploreModel .exploreModelRight .dataProcess .processPart .commonStyle .btn .btnStep:active {
  background: #4874ff;
}

.header_area_select .open .xl_bg {
  -webkit-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
  top: 12px !important;
}
