body {
  padding: 0;
  margin: 0;
}

body .browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body .header {
  height: 50px;
}

body .header .navbar-au {
  background: #4874ff;
  font-size: 14px;
  margin-bottom: 0;
}

body .header .navbar-au .logo {
  color: #ffffff;
}

body .header .navbar-au .navbar-head {
  color: #fff;
}

body .header .navbar-au .navbar-head .nav-top > a {
  display: inline-block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  color: #ffffff;
}

body .header .navbar-au .navbar-head .nav-top > a:hover {
  background: #3d63d9;
}

body .login {
  margin-top: 30px;
}

body .login h1 {
  margin-left: 40%;
}

body .login p {
  margin-left: 43%;
}

.openTotal {
  width: 600px;
}

.openTotal .title {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  background: #f2f2f2;
}

.openTotal .content .content-title {
  height: 120px;
  line-height: 120px;
  font-size: 16px;
  color: #3d63d9;
}

.openTotal .content .content-name {
  width: 217px;
  height: 30px;
  border: solid 1px #eaeaea;
  font-size: 14px;
  color: #333;
}

.openTotal .content .content-name:hover {
  border: solid 1px #4847ff;
}

.openTotal .footer {
  margin-top: 80px;
  height: 70px;
  background: #f2f2f2;
  font-size: 14px;
}

.openTotal .footer .confirm {
  padding: 5px 10px;
}

.openTotal .footer .cancle {
  padding: 5px 10px;
}
