<p class="title">{{ 'web_common_data_explore_004' | translate}}</p>
<div class="dataSourceChoose">
  <input type="radio" ng-model="bigData" value="iptOne" ng-value="1">&nbsp;&nbsp;{{'web_common_data_explore_005' | translate}}
  <div class="main_drop_set " ng-disabled="!bigData">
  <div class="data_bg header_area_select data_source" >
    <div uib-dropdown="" on-toggle="toggled(open)" class="dropdown open">
      <a href="javascript:void(0);" class="per_block dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true">
        <!--<span class="header_per_tit">{{secret.secret.secretName}}</span>-->
        <span class="header_per_tit">123213</span>
        <span class="xl_bg"></span>
      </a>
      <ul class="dropdown-menu zx_area_drop" uib-dropdown-menu="" aria-labelledby="user-menu">
        <li class="zx_active">
          <a href="javascript:void(0);"><span>1</span></a>
          <a href="javascript:void(0);"><span>2</span></a></li>

      </ul>
    </div>
  </div>
  </div>

  &nbsp;&nbsp;{{'web_common_data_explore_005_02' | translate}}

</div>
<div class="dataFileImport">
  <input type="radio" ng-model="bigData" value="iptTwo" ng-value="2" ng-checked="true">&nbsp;&nbsp;{{'web_common_data_explore_006' | translate}}
  <div class="file_border">
    <input type="file" ngf-select nv-file-select="" uploader="uploader" ng-model="file" class="chooseFile" ng-click="clearItems()" ng-disabled='bigData!==2'/>
    <div ng-repeat="item in uploader.queue" style="line-height:30px;padding-left:4px;">
      <p>{{item.file.name}}</p>
    </div>
  </div>
  <button class="fileUpload" id='fileUpload' ng-click="upload()" ng-disabled="!file">{{'web_common_data_explore_007' | translate}}</button>
</div>
<div class="dataSourcePreview">
  <button class="dataSource-preview" id="sourcePreview" ng-click="run(fileName)" ng-disabled='!unablePreview'>{{'web_common_data_explore_008' | translate}}</button>
</div>
<div ng-bind-html="result" class="previewResult" style="overflow:auto;"></div>
