<div class="contect-tabs">
  <p class="dataProcess-title">{{ datamation | translate}}</p>
  <div class="dataProcess-stepOne">
    <!--<p class="dataProcess-one">{{ stepone | translate}}<i class="pull-right glyphicon glyphicon-chevron-up oneImg" ng-click="pulldownlistone()"></i></p>-->
    <p class="dataProcess-one">{{ stepone | translate}}<span class="pull-right glyphicon glyphicon-chevron-up oneImg"
                                                             ng-click="pulldownlistone()"></span></p>
    <div class="step" ng-show="isShowOne">
      <table>
        <tr ng-repeat="x in names">
          <td>{{x.Nameo}}</td>
          <td>{{x.Namet}}</td>
          <td>{{x.Nameth}}</td>
        </tr>
      </table>
    </div>
    <!--<span class="stepBtn">{{ application | translate}}</span>-->
  </div>
  <div class="dataProcess-stepOne">
    <p class="dataProcess-one">{{ steptwo | translate}}<i class="pull-right glyphicon glyphicon-chevron-up oneImg"
                                                          ng-click="pulldownlisttwo()"></i></p>
    <div class="step" ng-show="isShowTwo">
      <table>
        <tr ng-repeat="x in names">
          <td>{{x.Namea}}</td>
          <td>{{x.Nameb}}</td>
          <td>{{x.Namec}}</td>
          <td>{{x.Named}}</td>
        </tr>
      </table>
    </div>
    <!--<span class="stepBtn">{{ application | translate}}</span>-->
  </div>
  <div class="dataProcess-stepOne">
    <p class="dataProcess-one">{{ stepthree | translate}}<i class="pull-right glyphicon glyphicon-chevron-up oneImg"
                                                            ng-click="pulldownlistthree()"></i></p>
    <div class="step" ng-show="isShowThree">
      <table>
        <tr ng-repeat="x in names">
          <td>{{x.Namea}}</td>
          <td>{{x.Nameb}}</td>
          <td>{{x.Namec}}</td>
          <td>{{x.Named}}</td>
          <td>{{x.Namee}}</td>
        </tr>
      </table>
    </div>
    <!--<span class="stepBtn">{{ application | translate}}</span>-->
  </div>
  <!--<div class="btn">-->
    <!--<span class="btnStep">{{ back | translate}}</span><span class="btnStep">{{ application | translate}}</span><span-->
    <!--class="btnStep">{{ previewPage | translate}}</span>-->
  <!--</div>-->

</div>
