<div class="title">demo1</div>
<ul class="content">
  <li>
    <div class="header"><span style="padding-left: 20px">结构化数据探索/demo</span><img src="../images/delete.png" style="display:inline-block;float:right;margin-right: 10px;margin-top: 25px"></div>
    <div class="body">
      <p>行数:</p>
      <p>变量数(列数):</p>
      <p>数值型变量数:</p>
      <p>类别型变量数:</p>
      <p>空值比例:</p>
    </div>
    <div class="footer">添加说明</div>
  </li>
  <li class="newModel">
    <div class="model" ng-click="createModel()">+</div>
  </li>
</ul>
  <!--<div class="contentModel">-->
    <!--<div class="header"></div>-->
    <!--<div class="content">-->
      <!--&lt;!&ndash;<div class="contentone" ng-repeat="(key, contentitem) in item.content">{{key}} : {{contentitem}}</div>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="footer">{{item.COMMENT}}</div>-->
  <!--</div>-->
  <!--<div class="contentNew">-->
    <!--<div class="newModel">+</div>-->
  <!--</div>-->

