<div class="title">demo1</div>
<div class="content">
  <table>
    <tr>
      <td class="tdOne">
        <span>前置步骤</span>
        <select name="">
          <option value=""></option>
        </select>
      </td>
      <td class="tdTwo">
        <span>执行</span>
        <select name="">
          <option value=""></option>
        </select>
      </td>
      <td>x</td>
    </tr>
    <tr>
      <td class="tdOne">
        <span>前置步骤</span>
        <select name="">
          <option value=""></option>
        </select>
      </td>
      <td class="tdTwo">
        <span>执行</span>
        <select name="">
          <option value=""></option>
        </select>
      </td>
      <td>x</td>
    </tr>
    <tr>
      <td class="tdOne">
        <span>前置步骤</span>
        <select name="">
          <option value=""></option>
        </select>
      </td>
      <td class="tdTwo">
        <span>执行</span>
        <select name="">
          <option value=""></option>
        </select>
      </td>
      <td>+</td>
    </tr>
  </table>
  <div class="saveBtn">
    <span>保存</span>
  </div>
</div>
