<div class="title">demo1</div>
<div class="content">
  <table class="contentTitle">
    <tr class="title">
      <td>名称</td>
      <td>名称</td>
      <td>名称</td>
      <td>名称</td>
      <td>名称</td>
      <td>名称</td>
      <td></td>
    </tr>
    <tr class="content">
      <td>名称</td>
      <td>名称</td>
      <td>名称</td>
      <td>名称</td>
      <td>名称</td>
      <td>名称</td>
      <td>
        <span class="btn">删除</span>
        <span class="btn">暂停</span>
        <span class="btn">编辑</span>
      </td>
    </tr>
  </table>
</div>
